/* @media creates a grid format for screens larger than 768px, else the page will be in mobile form */

    @media only screen and (min-width: 768px) {

        .gridContainer {
            display: grid;
            grid-template-columns: 15% 15% 20% 20% 15% 15%;
            /*!*grid-template-columns: 1fr 2.2fr 3.4fr 2.4fr 1fr;*!*/
            grid-template-rows: 15% 15% 20% 20% 15% 15%;
        }

        .item1 {
            grid-area: 1 / 1 / 2 / 7;
        }

        .item2 {
            grid-area: 2 / 1 / 3 / 7;
        }

        .item3 {
            grid-area: 3 / 1 / 4 / 7;
            border-bottom: solid 2px rgb(0, 102, 102);
            padding-bottom: 5px;
            margin: 10px 30px;
        }

        .item4 {
            grid-area: 4 / 1 / 5 / 3;
            margin-left: 30px;
            margin-right: 30px;
        }

        .item5 {
            grid-area: 4 / 3 / 5 / 5;
            margin: 10px 30px;
        }

        .item7 {
            grid-area: 4 / 5 / 7 / 7;
            border-left: solid 2px rgb(0, 102, 102);
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 30px;
        }

        .item6 {
            grid-area: 5 / 1 / 7 / 5;
            margin: 10px 30px;
        }
    }

* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana", "Arial", sans-serif;
    background-color: rgba(244, 249, 243, 0.2);
}

.staticImages {
    width: 100%;
    height: auto;
    border-radius: 2%;
}

#featuredTitle {
    margin-top: 2px;
    margin-bottom: 1px;
}

.pageHeader {
    text-align: center;
    color: rgb(0, 102, 102);
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 102, 102);
}

#navBar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 102, 102);
    font-size: 12px;
}

.navList {
    float: left;
}

.navList a {
    display: block;
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navList a:hover {
    background-color: rgb(0, 77, 77);
}

.mainContent {
    text-align: justify;
    color: rgb(0, 77, 77);
}

h3 {
    text-align: center;
    font-weight: bold;
}

#textContainer {
    color: rgb(0, 77, 77);
}

table {
    margin: 10px;
    border: solid 1px black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    font-size: 10px;
    border: solid 1px rgb(0, 102, 102);
}

tr:nth-child(even) {
    background-color: rgb(213, 223, 218);
}

th {
    font-weight: bold;
    background-color: rgb(0, 102, 102);
    color: white;
    border-bottom: 2px rgb(0, 102, 102);
}

tr:hover {
    background-color: rgb(139, 193, 166);
    color: white;
    cursor: pointer;
}

caption {
    color: rgb(0, 77, 77);
}

figcaption {
    font-size: 12px;
    padding: 10px;
    color: rgb(0, 77, 77);
}

#sideBar {
    color: rgb(0, 77, 77);
}

#sideBar > p {
    font-size: 12px;
}

#featuredList {
    font-size: 12px;
    margin-bottom: 2px;
}

#featuredDesc {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 1px;
}

#featuredSkills {
    margin-top: 2px;
    margin-bottom: 1px;
}

#tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jobsTable {
    max-width: 90%;
    height: auto;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#featuredImage {
    width: 100%;
    height: auto;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
}

